.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  gap: 7vw;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.MAINtitle{
  font-size: 1.85em;
  font-weight: bold;
  margin: 0;
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
  margin-left: 10px;
  
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.navbar a:hover {
  color: #666;
  text-decoration: underline;
}

.profile-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.profile-info {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 12px;
}

.profile-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-info span {
  margin-top: -4px;
}

.dropdown-menu {
  position: absolute;
  top: 48px;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px 0;
  z-index: 1;
  min-width: 200px;
  font-size: 0.9rem;
}

.dropdown-menu a {
  color: #385898;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

.dropdown-menu .dropdown-item-divider {
  height: 1px;
  margin: 8px 12px;
  background-color: #dadde1;
}

.dropdown-menu button {
  background-color: #3b5998;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #2d4373;
}

/* Show Dropdown Menu */
.profile-dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

/* Hide Dropdown Menu */
.dropdown-menu.hidden {
  display: none;
}

.dropdown-item {
  padding: 8px 16px;
  font-size: 16px;
  color: rgb(21, 57, 61);
  font-weight: medium;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #cc7a00;
  color: whitesmoke;
}

.subheader {
  align-items: center;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .subheader {
    flex-direction: column;
  }

  .subheader-start {
    flex-basis: auto;
  }
}

.category {
  margin: 0;
  text-decoration: underline;
  color: green;
}

.category-buttons {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  gap:10px
}

.category-button {
  background-color: #4a4a4a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #385898;
}

  @media (max-width: 768px) {
    .category-buttons {
      flex-wrap: wrap; /* Allow the buttons to wrap onto multiple lines */
      justify-content: center; /* Align buttons to the start of the flex container */
    }

    .category-button {
      margin-bottom: 10px; /* Add some bottom margin between the buttons */
      width: 100%; /* Make buttons full width on small screens */
    }
  }


.query-container {
  display: flex;
  justify-content: center;
  gap: 0.2em;
  align-items: center;
  margin-bottom: 20px;
}

.query-container label {
  margin-right: 10px;
  font-weight: bold;
}

.query-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .query-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .query-container label {
    margin-bottom: 10px;
  }
  
  .query-container select {
    width: 100%;
  }
}

.review {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 90%;
}

.review-card {
  display: flex;
  flex-direction: column;
}
.review-body {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  color: #333;
  text-align: justify;
  margin-top: 3.5%;
  }

.review-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.review-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.review-card p {
  font-size: 16px;
  margin-bottom: 5px;
}

.review-card .review-title {
  color: #1a1a1a;
  font-weight: 700;
}

.review-card .votes {
  color: #ff4500;
  font-weight: 700;
  margin-right: 10px;
}

.review-card .comments {
  color: #0079d3;
  font-weight: 700;
  margin-right: 10px;
}

  
  .review-body::first-letter {
  font-size: 28px;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  color: #cc7a00;
  }
  
  .review-body a {
  color: #0077cc;
  text-decoration: none;
  border-bottom: 1px solid #0077cc;
  }
  
  .review-body a:hover {
  background-color: #0077cc;
  color: #fff;
  }

@media screen and (min-width: 900px) {
  .review-card {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
  }
  
  .review-card img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.Loading {
  align-items: center;
  padding-top: 20%;
}

.vote-buttons {
  display: flex;
  justify-content:center;
  border-color: rgb(19, 21, 19);
  align-items: center;
  margin-top: 10px;
}

.upvote-button,
.downvote-button {
  background-color: #385898;
  color: white;
  padding: 10px 20px;
  border: 2px solid cyan;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: medium;
  margin-top: 15px;
  display: flex;
  align-items: center;
  height: 4vh;
}

.upvote-button {
  margin-right: 5px;
}

.downvote-button {
  margin-left: 5px;
}
.upvote-button:hover {
  border-color: rgb(19, 21, 19);
  transform: scale(1.1);
}

.downvote-button:hover {
  border-color: rgb(19, 21, 19);
  transform: scale(1.1);
}

.liked{
  font-size: 1rem;
  font-weight: bold;
  background-color: green;
  border-color: black;
}

.disliked{
  font-size: 1rem;
  font-weight: bold;
  background-color: red;
  border-color: black;
}

.comment-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-body {
  font-size: 18px;
  margin-bottom: 5px;
  padding: 1.5%;
}

.comment-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

.comment-author {
  font-weight: bold;
  margin-right: 10px;
}

.comment-votes {
  margin-right: 10px;
}

.comment-date {
  font-style: italic;
}

.comment-info img {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}



@media (max-width: 768px) {
  .comment-card {
    padding: 5px;
  }

  .comment-body {
    font-size: 16px;
  }

  .comment-info {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .comment-card {
    margin-bottom: 5px;
  }

  .comment-body {
    font-size: 14px;
  }

  .comment-info {
    flex-direction: column;
    font-size: 12px;
  }

  .comment-author {
    margin-bottom: 5px;
  }

  .comment-date {
    margin-top: 5px;
  }
}

.user-card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  flex-grow: 0.65; 
}

.user-card:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.user-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px;
}

.user-card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.user-card p {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 16px;
}

.signed-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.comment-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}