.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  gap: 7vw;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.MAINtitle{
  font-size: 1.85em;
  font-weight: bold;
  margin: 0;
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
  margin-left: 10px;
  
}


.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.navbar a:hover {
  color: #666;
}

.review {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 90%;
}
.review-card {
  display: flex;
  flex-direction: column;
}
.review-body {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  color: #333;
  text-align: justify;
  margin-top: 3.5%;
  }

.review-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.review-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.review-card p {
  font-size: 16px;
  margin-bottom: 5px;
}

.review-card .review-title {
  color: #1a1a1a;
  font-weight: 700;
}

.review-card .votes {
  color: #ff4500;
  font-weight: 700;
  margin-right: 10px;
}

.review-card .comments {
  color: #0079d3;
  font-weight: 700;
  margin-right: 10px;
}

  
  .review-body::first-letter {
  font-size: 28px;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  color: #cc7a00;
  }
  
  .review-body a {
  color: #0077cc;
  text-decoration: none;
  border-bottom: 1px solid #0077cc;
  }
  
  .review-body a:hover {
  background-color: #0077cc;
  color: #fff;
  }

@media screen and (min-width: 900px) {
  .review-card {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
  }
  
  .review-card img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.Loading {
  align-items: center;
  padding-top: 20%;
}

.vote-buttons {
  display: flex;
  justify-content:center;
  border-color: rgb(19, 21, 19);
  align-items: center;
  margin-top: 10px;
}

.upvote-button,
.downvote-button {
  background-color: rgb(39, 142, 151);
  color: white;
  padding: 10px 20px;
  border: 2px solid cyan;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: medium;
  margin-top: 15px;
  display: flex;
  align-items: center;
  height: 6vh;
}

.upvote-button {
  margin-right: 5px;
}

.downvote-button {
  margin-left: 5px;
}
.upvote-button:hover {
  border-color: rgb(19, 21, 19);
  transform: scale(1.1);
}

.downvote-button:hover {
  border-color: rgb(19, 21, 19);
  transform: scale(1.1);
}

.voted-up{
  font-size: 1rem;
  font-weight: bold;
  background-color: green;
}

.voted-down{
  font-size: 1rem;
  font-weight: bold;
  background-color: red;
}

